<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> -->
    <title>User Page</title>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Home</a>
            <a class="navbar-brand" href="/logout">Logout</a>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="jumbotron">
                        <h1 class="display-4">Incomes</h1>
                        <p class="lead">This table shows you incomes</p>
                        <hr class="my-4">
                        <div class="pos-f-t">
                            <div class="collapse" id="navbarToggleAddIncome">
                                <div class="bg-dark p-4">
                                    <h5 class="text-white h4">New income Data</h5>
                                    <form action ="#" method="POST">
                                        <div class="form-row">
                                            <input type="number" step="0.01" min=0 class="form-control" name="fin_inc_am" placeholder="Income Amount" required>
                                        </div>
                                        <div class="form-row">
                                            <input type="datetime-local" name="fin_inc_tmst" required>
                                        </div>
                                        <div class="form-row">
                                            <input type="text" class="form-control" name="fin_inc_usr_note" placeholder="Notes">
                                        </div>
                                        <div class="form-row">
                                            <button type="submit" class="btn btn-secondary">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <nav class="navbar navbar-dark bg-dark">
                              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleAddIncome" aria-controls="navbarToggleAddIncome" aria-expanded="false" aria-label="Toggle navigation">
                                <p style="color:white;">Add Income</p>
                              </button>
                            </nav>
                        </div>
                        <hr class="my-4">
                        <table class="table table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">ID</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Note</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for dic in j_incomes %}
                                    <tr>
                                        <th scope="row">{{loop.index}}</th>
                                        {% for i in dic %}
                                            {% if loop.index == 1 %}
                                                <td>
                                                    <form action="#" method="POST">
                                                        <button button type="submit" class="btn btn-secondary" name = "id_inc_del" value= {{ dic[i] }}>Delete</button>
                                                    </form>
                                                </td>
                                            {% else %}
                                                <td>{{dic[i]}}</td>
                                            {% endif%}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col">
                    <div class="jumbotron">
                        <h1 class="display-4">Incomes Chart</h1>
                        <p class="lead">Chart showing your incomes</p>
                        <hr class="my-4">
                        <embed type="image/svg+xml" src= {{ chart|safe }} />
                    </div>
                </div>
            </div>
            <div class="row"></div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</head>